<div class="row">
  <div class="col-12 search-box">
    <%= search_form_for q, url: users_path, remote: true,
                        html:   {method: :post} do |f| %>
      <div class="row">
        <div class="col-md-8 col-8">
          <%= f.search_field :username_cont,
                             class:       'form-control required',
                             placeholder: 'Search by username',
                             data:        {name:          'Search by username',
                                           'required-msg' => 'Please input some text to search!'} %>
          <%= f.search_field :username_not_eq,
                             value: current_user.username,
                             class: 'hide' %>

        </div>
        <div class="col-4"><%= f.submit 'Search', class: 'btn btn-success btn-submit' %></div>
      </div>
    <% end %>
  </div>
  <div class="col-12 list-users">
    <ul id="anychat-list-users">
    </ul>
  </div>
</div>

<script type="text/javascript">
  $('#search-icon').click(function () {
    $("#mySidenav").toggleClass('nav-open hide');
  });

  <% if selected_username %>
  $('.search-box input[name="q[username_cont]"]').val("<%= selected_username %>");
  $('.search-box input[type="submit"]').click();
  <% end %>
</script>