<div class="container">
  <div id="login-overlay" class="text-center">
    <div class="l-modal-content">
      <div class="l-modal-header">
        <h4 class="l-modal-title text-info" id="myModalLabel">Login/Register to
          <b><a href="<%= root_path %>" style="text-decoration: underline;">anychat.4me.tips</a></b>
        </h4>
      </div>
      <div class="l-modal-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="well">
              <%= form_for @user, url: login_home_index_path, method: :post do |f| %>
                <div class="form-group">
                  <label for="username" class="control-label"><span class="text-danger">※</span> 6 <= username.length <= 50</label>

                  <div class="notice">Pick any [a-zA-Z0-9] nickname!</div>
                  <%= f.text_field :username, class: 'form-control',
                                   title:            'Please enter your username',
                                   placeholder:      'Username' %>
                  <span class="help-block"></span>
                </div>
                <div class="form-group">
                  <label for="password" class="control-label"><span class="text-danger">※</span> 8 <= password.length <= 50</label>

                  <div class="notice">Pls
                    <span class="text-danger">REMEMBER</span>
                    this. We have <span class="text-danger">NO RECOVERY</span>
                    password mode!
                  </div>
                  <%= f.text_field :password, type: 'password', class: 'form-control',
                                   placeholder:     'Password',
                                   title:           'Please enter your password' %>
                  <span class="help-block"></span>
                </div>
                <div class="form-group">
                  <div class="notice"><span class="text-danger">※</span> Confirmation password</div>
                  <%= f.text_field :password_confirmation, type: 'password', class: 'form-control',
                                   placeholder:     'Confirmation password',
                                   title:           'Please enter your password again' %>
                  <span class="help-block"></span>
                </div>

                <!-- <div class="form-group">
                  <label for="Email" class="control-label">Email (Optional)</label>

                  <div class="notice">The first and only first message will be sent to this email when you offline.</div>
                  <%= f.text_field :email, class: 'form-control',
                                   placeholder:     'Email will be used when you offline.',
                                   title:           'Email will be used when you offline.' %>
                  <span class="help-block"></span>
                </div> -->

                <%= render 'shared/error_explain', obj: @user %>

                <button type="submit" value="login" name="submit" class="btn btn-success btn-block">Login / Register
                </button>
              <% end %>
            </div>
          </div>
          <div class="col-lg-6">
            <p class="lead"><span class="text-success">FREE</span> and always be!</p>
            <ul class="list-unstyled" style="line-height: 2">
              <li><span class="fa fa-check text-success"></span> Nothing is related to your social account</li>
              <li><span class="fa fa-check text-success"></span> Nothing is related to your private info</li>
              <li><span class="fa fa-check text-success"></span> Nothing is related to data mining or something like
                that
              </li>
              <li><span class="fa fa-check text-success"></span> Nothing is saved after you quit</li>
              <li><span class="fa fa-check text-success"></span> Just <span class="text-success">private</span></li>
            </ul>
            <p>
              <button type="submit" value="login" name="submit" class="btn btn-success btn-block">Sound good! Login /
                Register now!
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>