<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>Anychat</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <% flash.each do |key, value| %>
    <script type="text/javascript">
      $(document).ready(function () {
        window["toastr"]["<%= key %>"]('<%= value %>');
      });
    </script>
  <% end %>
</head>

<body id="<%= params[:controller] %>">
<div class="container">
  <!-- nav bar if logged in -->
  <% if current_user %>
    <%= render 'layouts/components/anychat/top_menu' %>
  <% end %>
  <!-- ./ nav bar -->
  <% if params[:controller] == 'home' %>
    <%= render 'layouts/components/home/header' %>
  <% end %>
  <div>
    <%= yield %>
  </div>
  <%= render 'layouts/components/home/footer' %>
</div>
</body>
</html>
